@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-100 text-slate-900;
    }
}

.fade-enter-from,
.fade-leave-to {
    @apply opacity-0;
}

.fade-enter-active,
.fade-leave-active {
    @apply transition-opacity duration-200;
}
